body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #e1fe05;
}

#imagePreview {
    max-width: 100%;
    margin-top: 20px;
}